.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://img.freepik.com/free-vector/realistic-galaxy-background_23-2148991322.jpg?w=1800&t=st=1671512309~exp=1671512909~hmac=a4a203f5a56b3337d3d4a32055fe6eddee050d3367634b3ca67e83a7eabbd56c");
  background-position: center;
  background-size: cover;
}

form {
  background-color: white;
  padding: 20px 70px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 30px;
}